<!-- <form  #myForm="ngForm" >  
         <div class="form-group">
              <label  for="id">Book Id</label>  
            <input required  [(ngModel)]="id"  name="id" type="text" class="form-control" #idControl="ngModel" readonly />
         <div class="alert alert-danger" *ngIf="!idControl.valid && idControl.touched">
        id is required
      </div>        
    </div>
            <div class="form-group">
              <label  for="name">Book Name</label>       
      <input required  [(ngModel)]="name"  name="name" type="name" class="form-control" #nameControl="ngModel" >     
      <div class="alert alert-danger" *ngIf="!nameControl.valid && nameControl.touched">name is required </div>     
       </div>0.
  
        <div class="form-group">
              <label for="salary">Book Cost</label>       
       <input required  [(ngModel)]="cost"  name="cost" type="text" class="form-control" #salaryControl="ngModel" value=salaryControl />
              <div class="alert alert-danger" *ngIf="!salaryControl.valid && salaryControl.touched">
        Cost is required</div>    </div>
        <div class="form-group">
              <label for="departmentt">Author</label>        
      <input class="form-control" required  [(ngModel)]="author"  name="department" type="text" #deptControl="ngModel" />                
      <div class="alert alert-danger"  *ngIf="!deptControl.valid && deptControl.touched">Author  is Required
      </div>  
        </div>   
    
  </form>
   <button (click)="onClickAddDetails()"
         class="btn btn-success" style="margin-left: 50%;">Update Book
    </button>  -->
