<div>
  <nav  class="navbar navbar-default navbar-fixed-top" class="container-fluid" style="background-color: rgb(138, 137, 135); height: 80px;" >
        <ul class="nav navbar-nav">
          <li><a style="color:black; margin-top:10%;"routerLinkActive="active" routerLink="displayAllBooks">Display All Books</a></li>
          <li><a style="color:black; margin-top:17%;" routerLinkActive="active" routerLink="addBook">Add Book</a></li>
         
        </ul>
    </nav> 
     <router-outlet></router-outlet> 
</div>
 